<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="close-container">
            <span class="headline">KanBan-FaKe</span>
            <!-- <button mat-icon-button color="alarm" mat-button (click)="drawer.toggle()"> -->
                <!-- <mat-icon  (click)="drawer.toggle()">arrow_back_ios</mat-icon> -->
            <!-- </button> -->
            <div class="example-sidenav-content">
                <button type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon>arrow_back_ios</mat-icon>
                    Close menu
                </button>
            </div>
        </div>

        <div class="nav-btn-container">
            <button>Board</button>
            <button>Backlog</button>
            <button>Add Task</button>
        </div>

        <img src="assets\imgs\logo.png" alt="Logo" class="logo">
    </mat-drawer>


</mat-drawer-container>


<div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
        Open menu
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>