/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mb-18 {
    margin-bottom: 18px;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
